body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f0f0f0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  overflow: hidden;
}

#pantalla-juego, #pantalla-instrucciones, #pantalla-final {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pantalla-instrucciones.oculto,
#pantalla-juego.oculto,
#pantalla-final.oculto {
  display: none;
}

#marcador {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
}

#campo-juego {
  position: relative;
  width: 90%;
  height: 80%;
  border: 10px solid #333;
  background: #fff;
  overflow: hidden;
}


@media (hover: hover) {
  .letra-circulo:hover {
    background: #51d7f8;
  }
}



.letra-circulo {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #7f8fa6;  /* azul grisáceo */
  color: white;
  border: 4px solid rgb(109, 107, 107);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  font-size: 50px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
#pantalla-instrucciones h1 {
  font-size: 28px; /* o más grande según necesites */
  text-align: center;
  margin: 30px;
}

#pantalla-instrucciones p {
  font-size: 32px;
  text-align: center;
}

#pantalla-instrucciones button {
  font-size: 22px;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 10px;
}
#pantalla-instrucciones button {
  width: 80px;           /* tamaño fijo opcional */
  max-width: 30%;        /* para que se acomoden bien */
}


